/*BASE STYLES*/

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
}

/*MAIN FORM*/

main {
  height: 45%;
  padding: 20px;
  width: 100%;
  background-color: #E5F3F2;
  text-align: center;
}
h1 {
  margin: 10px 0 30px 0;
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 70px;
}
.idea-color {
  color: #00A79D;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.inputs {
  display: block;
  height: 40px;
  width: 60%;
  margin-bottom: 25px;
  padding-left: 5px;
  border: 2px solid #d1d3d4;
  color: #6D6E71;
  font-size: 20px;
  letter-spacing: 0.8px;
}
textarea {
  padding-top: 5px;
  resize: none;
}
.inputs::placeholder {
  color: #d1d3d4;
}
#submit-btn {
  border: none;
  background-color: #00A79D;
  color: #FFFFFF;
}
#submit-btn:hover {
  background-color: #045E55;
}
#submit-btn:disabled {
  background-color: #939598;
}

/*IDEASECTION*/

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px 0 20px;
}
#search-input {
  margin-bottom: 45px;
}
.article-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
article {
  margin-bottom: 25px;
  width: 60%;
  border-bottom: 1px solid #D1D3D4;
}
div {
  margin-bottom: 25px;
}
h2 {
  display: inline-block;
  padding-bottom: 20px;
  width: 80%;
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description {
  width: 90%;
  padding: 3px 0;
  border: none;
  color: #939598;
  line-height: 1.2;
}
button {
  height: 25px;
  width: 25px;
  padding: 0;
  border: none;
  background: none;
  background-repeat: no-repeat;
  background-size: contain;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: 0;
}
#delete-btn {
  float: right;
  background-image: url('assets/delete.svg');
}
#delete-btn:hover {
  background-image: url('assets/delete-hover.svg');
}
.voting-container {
  display: flex;
  align-items: center;
}
.voting-container img {
  margin-right: 20px;
}
.voting-container button {
  margin-right: 15px;
}
#upvote-btn {
  background-image: url('assets/upvote.svg');
}
#upvote-btn:hover {
  background-image: url('assets/upvote-hover.svg');
}
#downvote-btn {
  background-image: url('assets/downvote.svg');
}
#downvote-btn:hover {
  background-image: url('assets/downvote-hover.svg');
}
.quality {
  display: inline-block;
  color: #6D6E71;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 850px) {
  h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 665px) {
  h1 {
    font-size: 50px;
  }
  .inputs {
    width: 80%;
  }
  article {
    width: 80%;
  }
@media screen and (max-width: 490px) {
  h1 {
    margin: 0 0 20px 0;
    font-size: 35px;
  }
  .inputs {
    width: 95%;
    font-size: 25px;
  }
  main .inputs {
    margin-bottom: 15px;
  }
  #body-input {
    height: 120px;
  }
  #body-input::placeholder {
    font-size: 25px;
  }
  #submit-btn {
    margin-bottom: 0;
  }
  section {
    padding-top: 20px;
  }
  article {
    width: 95%;
  }
  h2 {
    font-size: 30px;
  }
  .description {
    font-size: 20px;
  }
  .quality {
    font-size: 17px;
  }
}
